body {
    background-color: #F7AEF8;
    color: #8093F1;
}

* {
    font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
}

h1 {
    font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
    font-size: 50px;
    color: #51453B;
    line-height: 60px;
    font-weight: 300;
}

h2 {
    font-size: 24px;
    color: #8093F1;
    line-height: 29px;
}

h3 {
    font-size: 18px;
    color: #B388EB;
    line-height: 23px;
    margin: 5px;
}

p {
    font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #8093F1;
    line-height: 24px;
    font-weight: bold;
}

i {
    color: #F7AEF8;
}

strong {
    font-size: 16px;
    color: #8093F1;
    line-height: 24px;
}

a {
    padding: 10px;
    font-size: 14px;
    color: #B388EB;
    line-height: 17px;
}

.form-control {
    color: #B388EB;
}

.margin {
    margin: 20px;
}

.padding {
    padding: 20px;
}

.padding-top {
    padding-top: 30px;
}

.padding-bottom {
    padding-bottom: 30px;
}

.margin-right {
    margin-right: 30px;
}

.margin-left {
    margin-left: 30px;
}

.container-alt {
    padding-left: 0;
    padding-right: 0;
}

.padding-none {
    padding: 0;
}

.btn {
    padding: 20px;
    margin: 0;
    border-color: #9FB80A;
    border-width: 2px;
    color: #9FB80A;
    ;
}

.btn:hover {
    border-color: #9FB80A;
}

.btn.delete {
    border-color: #aaaaaa;
    color: #aaaaaa;
}

.btn.delete:hover {
    border-color: #aaaaaa;
    color: red;
}

.glyphicon {
    margin-right: 10px;
}

.top-menu {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #72DDF7;
}

.top-menu p {
    margin-bottom: 0;
    line-height: 16px;
}

.top-menu a {
    margin-bottom: 0;
    line-height: 16px;
    font-size: 20px;
    color: #8093F1;
    font-weight: 400;
}

.login {
    border-radius: 5px;
    background-color: #FDC5F5;
    margin-top: -20px;
}

.light-pink-box {
    background-color: #FDC5F5;
    border-radius: 50px;
}

.category-list {
    background-color: #FDC5F5;
    padding: 20px;
}

.category-list:hover {
    background-color: #e1e17f;
    padding: 20px;
}

.creator {
    padding-right: 20px;
    margin-top: -20px;
    text-align: right;
    float: right;
}

.creator img {
    width: 100px;
    border-radius: 50%;
}

.creator figcaption {
    font-size: 14px;
    color: #7B7573;
    font-weight: 400;
    margin-top: -20px;
}

.flash {
    background-color: #98FB98;
    width: 100%;
    text-decoration: none;
    border-radius: 5px;
}

.flash li {
    list-style-type: none;
    text-align: center;
}

.row.vdivide [class*='col-']:not(:last-child):after {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    min-height: 70px;
}