{% extends "main.html" %}
{% block content %}

<div class= 'flash'>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li> <strong> {{ message }} </strong> </li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}

</div>

<div class="row padding-top padding-bottom">
	<div class="col-md-1"></div>
	<div class="col-md-10 padding-none">
	</div>
	<div class="col-md-1"></div>
</div>

<div class="row light-pink-box vdivide">
	<div class="col-md-3 margin">
		<h2>Categories</h2>
		{% for category in categories %}
		<p><a href="{{ url_for('showCategory', category_name= category.name) }}">
				{{ category.name }}
			</a></p>
		{% endfor %}
	</div>
	<div class="col-md-7 margin">
		<p>
			<a class="padding-none" href="{{ url_for('addItem')}}">Add Item</a> | <a
				href="{{ url_for('addCategory')}}">Add Category</a>
			<h2>Latest Items</h2>
			{% for item in latest_items %}
			<p><a href="{{ url_for('showItem', category_name= item.category.name,
					item_title= item.title) }}">
					{{ item.title }}</a> <i>({{ item.category.name }})</i>
			</p>
			{% endfor %}
		</div>
	</div>
	{% endblock %}
