<!DOCTYPE html>
<html lang="en">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700'
			rel='stylesheet' type='text/css'>
		<link rel="stylesheet"
			href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel=stylesheet type=text/css href="{{ url_for('static',
			filename='styles.css') }}">
	</head>
	<body>
		<div class="container-alt">
			<div class="row top-menu">
				<div class="col-md-6">
					<a class="margin-left" href="{{url_for('home')}}">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Catalog
					</a>
				</div>
				<div class="col-md-6 text-right">
					<a class="login margin-right" href="{{url_for('gdisconnect')}}">
						<span aria-hidden="true"></span>Logout
					</a>
				</div>
			</div>
			<div class="container">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</body>
</html>